@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Buttons */

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.button:disabled {
  background-color: #E5E5E5;
}

.navigation-link.button {
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
}

.appointment-button {
  font-size: 20px;
  line-height: 36px;
  margin-top: 54px;
}

.button-light {
  background-color: #82B3D3;
}

.button-light:hover {
  background-color: #68A2CA;
}

.button-light:focus {
  background-color: #68A2CA;
}

.button-light:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-submit {
  margin-bottom: 32px;
}

.card-rating-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: default;
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 60%;
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.button-reset:active {
  color: #FFFFFF4D;
  background-color: transparent;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 10%;
}

.button-current {
  background-color: #7DB54F;
}

.button-current:hover {
  background-color: #6C9E42;
}

.button-current:focus {
  background-color: #6C9E42;
}

.button-current:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

/* Header */

.page-header a:not(.button) {
  text-decoration: none;
  color: #000000;
}

.navigation {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0 70px;
}

.logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  list-style-type: none;
  margin: 0;
  margin-left: 168px;
  padding: 0;
}

.navigation-user {
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 325px;
  margin-left: auto;
}

.navigation-link:not(.button) {
  position: relative;
  height: 100%;
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 16px;
}

.navigation-link-current {
  cursor: default;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  right: 16px;
  bottom: 0;
  left: 16px;
}

.navigation-user .navigation-list-item:not(:first-child) {
  position: relative;
  width: 44px;
}

.navigation-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link:hover .navigation-link-icon {
  fill: #756157;
}

.navigation-link:focus .navigation-link-icon {
  fill: #756157;
}

.navigation-link:active .navigation-link-icon {
  fill: #7561574D;
}

.count {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 100vw;
  padding: 5px;
  top: 11px;
  left: 20px;
}

/* Main container all pages */

.main-container {
  flex-grow: 1;
}

/* Main index */

.welcome-sedona-images {
  width: 1200px;
  height: 485px;
  background-color: #608FB6;
  background-image: url('../images/svg/welcome.svg'), url('../images/svg/background-mask.svg'), url('../images/background/background-index.jpg');
  background-position: 50% 50%, 100% 101%, 0% 0%;
  background-size: 458px 352px, 1200px 58px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.section-about {
  text-align: center;
  padding: 69px 230px;
}

.section-about-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-about-details {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-top: 25px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-container {
  grid-column: 1/-1;
  display: flex;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  text-align: center;
  padding: 0 70px;
}

.advantages-card-title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 30px;
}

.advantages-card-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-card .advantages-card-title::before {
  background-color: #0000004D;
}

.advantages-card-description {
  line-height: 21px;
  margin: 0;
  margin-top: 62px;
}

.advantages-card .advantages-card-title {
  color: #000000;
}

.advantages-card {
  color: #333333;
}

.advantages-card:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services {
  text-align: center;
}

.services-container {
  padding: 64px 310px;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.services-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-list-card {
  display: flex;
  flex-direction: column;
  min-height: 385px;
  background-position: center 81px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  padding: 183px 75px;
  padding-bottom: 0;
}

.services-list-card:nth-child(1) {
  background-image: url('../images/svg/icon-home.svg');
}

.services-list-card:nth-child(2) {
  background-image: url('../images/svg/icon-burger.svg');
}

.services-list-card:nth-child(3) {
  background-image: url('../images/svg/icon-gift.svg');
}

.services-list-card:nth-child(odd) {
  background-color: #83B3D31F;
}

.services-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-card-description {
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.appointment {
  text-align: center;
  padding: 96px 290px;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

/* Footer */

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-subscription {
  text-align: center;
  padding: 96px 258px 104px;
}

.index-subscription {
  color: #FFFFFF;
  background: #608FB6 url('../images/background/background-index-subscription.jpg') top center no-repeat;
  background-size: cover;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.footer-subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.footer-subscription-form {
  display: flex;
  width: 684px;
  margin-top: 54px;
}

.footer-subscription-field {
  flex-grow: 1;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 12px 20px;
}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-list-item {
  width: 48px;
  height: 40px;
}

.social-item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.social-link-icon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  fill: #83B3D3;
}

.social-item-link:hover .social-link-icon {
  fill: #68A2CA;
}

.social-item-link:focus .social-link-icon {
  fill: #68A2CA;
}

.social-item-link:active .social-link-icon {
  fill: #68A2CA4D;
}

.contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.contacts-address-phone:hover {
  color: #756157;
}

.contacts-address-phone:focus {
  color: #756157;
}

.contacts-address-phone:active {
  color: #7561574D;
}

.logo-htmlacademy-link {
  align-self: center;
}

.logo-htmlacademy-link:hover  .logo-htmlacademy-icon {
  fill: #756157;
}

.logo-htmlacademy-link:focus  .logo-htmlacademy-icon {
  fill: #756157;
}

.logo-htmlacademy-link:active  .logo-htmlacademy-icon {
  fill: #7561574D;
}

/* Main catalog */

.hotels-filter-container {
  color: #FFFFFF;
  background-color: #000000;
  background: url('../images/background/background-catalog-header.jpg') center no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.hotels-filter-container a {
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:first-child) {
  position: relative;
  margin-left: 28px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url(../images/svg/arrow-right.svg);
  position: absolute;
  width: 8px;
  height: 11px;
  left: -18px;
}

.breadcrumbs-link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: #FFFFFF99;
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: #FFFFFF4D;
}

.breadcrumbs-link:first-child {
  position: relative;
  width: 13px;
}

.breadcrumbs-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.hotels-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-top: 40px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.control {
  line-height: 23px;
}

.hotels-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-hotels a:not(.button, .pagination-link) {
  color: #000000;
  text-decoration: none;
}

.catalog-hotels {
  padding: 50px 70px 60px;
}

.catalog-search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 6px 0;
  margin-right: auto;
}

.sorting-type {
  margin-right: 70px;
}

.select-control {
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
}

.select-control:disabled {
  border-color: #0000004D;
  color: #0000004D;
}

.button-search-container {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.button-search {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
}

.button-search:hover {
  border-color: #000000;
}

.button-search:focus {
  border-color: #68A2CA;
}

.button-search:active {
  border-color: #000000;
}

.button-search-current {
  border-color: #000000;
}

.button-search:nth-child(3n) {
  margin-right: 0;
}

.button-search-grid {
  background-image: url("../images/svg/card-grid.svg");
}

.button-search-cards {
  background-image: url("../images/svg/card-cards.svg");
}

.button-search-list {
  background-image: url("../images/svg/card-list.svg");
}

.hotels-list {
  display: grid;
  gap: 20px;
  line-height: 21px;
  list-style-type: none;
  color: #333333;
  background-color: #FFFFFF;
  margin: 40px 0;
  padding: 0;
}

.hotels-list.grid {
  grid-template-columns: repeat(3, 1fr);
}

.hotels-list.cards {
  grid-template-columns: repeat(2, 1fr);
}

.hotels-list.list {
  grid-template-columns: 1fr;
}

.hotels-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-card.grid {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type type"
    "buttons buttons"
    "rating rating";
}

.hotels-card.cards {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type type"
    "buttons buttons"
    "rating rating";
}

.hotels-card.list {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image title"
    "image type"
    "image buttons"
    "image rating";
}

.hotels-card-link-image {
  display: block;
  grid-area: image;
  align-self: center;
  justify-self: center;
  width: 300px;
  height: 212px;
}

.hotels-card-image {
  object-fit: cover;
  object-position: center;
}

.hotels-card-link-title {
  grid-area: title;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 8px 0;
  margin-top: 16px;
}

.hotels-card-type {
  grid-area: type;
  display: flex;
  margin: 8px 0;
}

.hotels-card-price {
  margin: 0;
  margin-left: auto;
}

.hotels-card-buttons {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px 0;
}

.hotels-card-button {
  padding: 8px 18px;
}

.hotels-card-buttons-rating {
  grid-area: rating;
  margin-bottom: 0;
}

.rating-area {
  align-items: center;
}

.pagination {
  display: flex;
  list-style-type: none;
  border-top: 1px solid #E5E5E5;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-top: 40px;
}

.pagination a {
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 11px 18px;
}

.pagination-link:not(.show-more, .pagination-current):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.show-more, .pagination-current):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.show-more, .pagination-current):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-current {
  background-color: #F2F2F2;
}

.item-current a {
  color: #000000;
}

.show-more {
  background-color: #FFFFFF;
  color: #000000;
}
