@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Buttons */

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-light {
  background-color: #82B3D3;
}

.button-gray {
  color: #333333;
  background-color: #F2F2F2;
}

.button-reset {
  background-color: transparent;
  border-color: transparent;
}

.button-favorites-active {
  background-color: #7DB54F;
}

/* Header */

.page-header a:not(.button) {
  text-decoration: none;
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 70px;
}

.logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  list-style-type: none;
  margin: 0;
  margin-left: 170px;
  padding: 0;
}

.navigation-user {
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 320px;
  margin-left: auto;
}

.navigation-list-item.button-item {
  padding: 20px 16px;
}

.navigation-link:not(.button) {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 16px;
}

.navigation-user .navigation-list-item:nth-child(2)::before {
  content: url(../images/svg/heart.svg);
  position: absolute;
}

.navigation-user .navigation-list-item:nth-child(3)::before {
  content: url(../images/svg/search.svg);
  position: absolute;
}

/* Navigation button */
.navigation-link.button {
  padding: 8px 34px;
}

.count {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 3px;
}

/* Main container all pages */

.main-container {
  flex-grow: 1;
}

/* Main index */

.welcome-sedona-images {
  width: 1200px;
  height: 485px;
  background-color: #608FB6;
  background-image: url('../images/svg/welcome.svg'), url('../images/svg/background-mask.svg'), url('../images/background/background-index.jpg');
  background-position: 50% 50%, 100% 101%, 0% 0%;
  background-size: 458px 352px, 1200px 58px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.section-about {
  text-align: center;
  padding: 69px 230px;
}

.section-about-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-about-details {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-top: 25px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-container {
  grid-column: 1/-1;
  display: flex;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  text-align: center;
  padding: 0 70px;
}

.advantages-card-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 30px;
}

.advantages-card-description {
  line-height: 21px;
  margin: 0;
  margin-top: 62px;
}

.advantages-card .advantages-card-title {
  color: #000000;
}

.advantages-card {
  color: #333333;
}

.advantages-card:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services {
  text-align: center;
}

.services-container {
  padding: 64px 310px;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.services-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-list-card {
  display: flex;
  flex-direction: column;
  min-height: 385px;
  padding: 183px 75px;
  padding-bottom: 0;
}

.services-list-card:nth-child(1) {
  background: url('../images/svg/icon-home.svg') no-repeat;
}

.services-list-card:nth-child(2) {
  background: url('../images/svg/icon-burger.svg') no-repeat;
}

.services-list-card:nth-child(3) {
  background: url('../images/svg/icon-gift.svg') no-repeat;
}

.services-list-card:nth-child(odd) {
  background-color: #83B3D31F;
}

.services-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-card-description {
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.appointment {
  text-align: center;
  padding: 96px 290px;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

/* Appointment button */
.appointment-link {
  font-size: 20px;
  line-height: 36px;
  margin-top: 54px;
}

/* Footer */

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-subscription {
  text-align: center;
  padding: 96px 258px 104px;
}

.index-subscription {
  color: #FFFFFF;
  background: #608FB6 url('../images/background/background-index-subscription.jpg') top center no-repeat;
  background-size: cover;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.footer-subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* Subscription button */
.subscription-button {
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 54px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.logo-htmlacademy {
  align-self: center;
}

/* Main catalog */

.hotels-filter-container {
  color: #FFFFFF;
  background-color: #000000;
  background: url('../images/background/background-catalog-header.jpg') center no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.hotels-filter-container a {
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:first-child) {
  margin-right: 6px;
}

.breadcrumbs-item:nth-child(1)::before {
  content: url(../images/svg/home.svg);
  margin-right: 6px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url(../images/svg/arrow-right.svg);
  margin: 0 7px;
  padding: 0;
}

.hotels-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-top: 40px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.control {
  line-height: 23px;
}

.hotels-filter-group-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Button submit */
.button-submit {
  margin-bottom: 32px;
}

.catalog-hotels a:not(.button, .pagination-link) {
  color: #000000;
  text-decoration: none;
}

.catalog-hotels {
  padding: 50px 70px 60px;
}

.catalog-search-container {
  display: flex;
  justify-content: space-between;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 6px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-search-container {
  display: flex;
  flex-wrap: wrap;
}

.button-search {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
}

.button-search-current {
  border-color: #000000;
}

.button-search-grid::after {
  content: url('../images/svg/card-grid.svg');
}

.button-search-cards::after {
  content: url('../images/svg/card-cards.svg');
}

.button-search-list::after {
  content: url('../images/svg/card-list.svg');
}

.hotels-list {
  display: grid;
  gap: 20px;
  line-height: 21px;
  list-style-type: none;
  color: #333333;
  background-color: #FFFFFF;
  margin: 40px 0;
  padding: 0;
}

.hotels-list.grid {
  grid-template-columns: repeat(3, 1fr);
}

.hotels-list.cards {
  grid-template-columns: repeat(2, 1fr);
}

.hotels-list.list {
  grid-template-columns: 1fr;
}

.hotels-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-card.grid {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type type"
    "buttons buttons"
    "rating rating";
}

.hotels-card.cards {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image image"
    "title title"
    "type type"
    "buttons buttons"
    "rating rating";
}

.hotels-card.list {
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image title"
    "image type"
    "image buttons"
    "image rating";
}

.hotels-card-link-image {
  grid-area: image;
  align-self: center;
  justify-self: center;
}

.hotels-card-image {
  object-fit: cover;
  object-position: center;
}

.hotels-card-link-title {
  grid-area: title;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 8px 0;
}

.hotels-card-type {
  grid-area: type;
  display: flex;
  margin: 8px 0;
}

.hotels-card-price {
  margin: 0;
  margin-left: auto;
}

.hotels-card-buttons {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px 0;
}

.hotels-card-button {
  padding: 8px 18px;
}

.hotels-card-buttons-rating {
  grid-area: rating;
  margin-bottom: 0;
}

.hotels-card-rating {
  font-weight: 400;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.pagination a {
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 11px 18px;
}

.pagination-current {
  background-color: #F2F2F2;
}

.item-current a {
  color: #000000;
}

.show-more {
  background-color: #FFFFFF;
  color: #000000;
}
